

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Barlow Condensed", sans-serif;
    margin: 0;
  }
  
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background:rgb(24, 150, 24);

  }
  
  .scoreboard {
    width: 700px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 5px;
  }
  
  .title {
    padding-left: 30px;
  }
  
  .score {
    width: 150px;
    height: 114px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .sub-text{
    font-size: 30px;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


  }
  .your-score,.computer-score {
    color: #565468;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
    text-align: center;
  }
  
  .your-title,.computer-title {
    color: #2a45c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: center;
  }
  
  .hands {
    background-image: url("triangle.png");
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 476px;
    height: 430px;
    margin-top: 100px;
    display: flex;
    z-index: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hands img {
    width: 200px;
    height: 200px;
    display: block;
  }
  
  .hands .paper {
    margin-right: 20px;
  }
  
  .hands .scissors {
    margin-left: 20px;
  }
  
  .hands .hand {
    cursor: pointer;
    transition: all 0.25s;
  }
  
  .hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
  }
  
  .contest {
    display: none;
    margin-top: 50px;
    width: 900px;
    height: 100vh;
  }
  
  .contest img {
    width: 275px;
    height: 275px;
  }
  
  .contest > div {
    flex: 1;
  }
  
  .contest h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .contest .newGame {
    color: hsl(229, 25%, 31%);
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;
  }
  
  .newGame:hover {
    background: rgb(218, 218, 218);
    transform: translate3d(0px, -2px, 0px);
  }
  
  .contest .handImageContainer {
    display: flex;
    justify-content: center;
  }
  
  .referee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .referee h1 {
    font-size: 45px;
    color: white;
  }
  
  .computerhand {
    display: flex;
    flex-direction: column;
  }
.cross-btn{
  background-image: url(Ellipse\ 6.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  right: 2%;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.games-rules{
  background-color:#004429;
  color: white;
  height: 44%;
  width: 21%;
  border: 7px solid white;
  border-radius: 2rem;
  padding: 15px 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  right: 3%;
  display:none;
}
footer{
    position: fixed;
    bottom:2%;
    right: 2%;
  }
  footer >button{
    background-color:transparent;
    width:100px;
    height: 50px;
    color:white;
    border: 2px solid white;
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
  }
  .next-btn{
    display: hidden;
    cursor: pointer;
  }
  .rules-box{
    display: none;
  }
  #rulesbox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;

  }